<!-- Sidebar icon -->
<div class="sidebar-container">
  <div class="sidebar-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>


<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">


  <div class="sidebar-item">
    <div class="container">
      <!-- space -->
    </div>
  </div>

<!--
  <div class="sidebar-item about-me">
    <div class="container photo">
      <img src="https://avatars1.githubusercontent.com/u/10968717?v=3&s=460">
      <div class="description">
        Wesley Tsai<br/>
        Software Engineer
      </div>
    </div>
  </div>
-->

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Blog</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <!--
  <div>
    <p class="copyright">
      Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.<br>
      All rights reserved.
    </p>
  </div>
  -->
</div>

<script>
  $(function() {
    $(document).click(function(e) {
      var $target = $(e.target);
      var $sidebarButton = $('.sidebar-container');
      var $sidebar = $('.sidebar');
      if($target.closest('.sidebar-container').length) {
        // if sidebar button clicked => toggle
        $sidebarButton.toggleClass('open');
      } else if(!$target.closest('.sidebar').length) {
        // if anywhere other than sidebar or sidebar button => close sidebar
        $sidebarButton.removeClass('open');
      }
    });
  });
</script>
