// Variables

// global
@heading-text-color: #313131;
@body-text-color: #515151;
@strong-text-color: #303030;
@body-background-color: #FFF;
@link-color: rgb(218, 68, 48);
@link-active-color: rgb(223, 93, 76);

@pre-text-color: #C5C8C6;
@code-text-color: #383838;
@pre-background-color: #2D2D2D;
@code-background-color: #EAEDF2;

// masthead
@masthead-height: 78px;
@masthead-background-color: rgb(40, 53, 60);
@logo-color: #ededed;
@logo-offset-y: 11px;
@contact-offset-y: -26px;
@contact-offset-x: 12px;

// body
@wrap-offset-y: 48px;
@post-title-hover-color: #0090C1;
@light-border-color: #F0F0F0;

@pagination-button-hover-color: #1F7A8C;
@pagination-button-border: #eee;

// posts
@date-color: #9a9a9a;

// sidebar
@sidebar-width: 16rem;

@sidebar-icon-top: 19px;
@sidebar-icon-left: 1rem;
@sidebar-icon-size: 40px;
@sidebar-icon-bar-height: 0.075 * @sidebar-icon-size;
@sidebar-icon-bar-width:  0.6 * @sidebar-icon-size;

@sidebar-icon-bar-color-normal: #fff;
@sidebar-icon-bar-color-active: #000;
@sidebar-icon-color-normal: rgba(255, 255, 255, 0);
@sidebar-icon-color-active: #808080;

@sidebar-color: rgba(255,255,255,.6);
@sidebar-background-color: #252525;
@sidebar-link-color: #fff;
@sidebar-link-hover-color: #00B4CD;

@sidebar-nav-border-color: rgba(255, 255, 255, .1);
@sidebar-nav-item-active: rgba(0, 0, 0, 0.1);

@animation-speed: .15s;