<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="masthead">
     <div class="container">
       <h3 class="masthead-title">
         <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
         <span>&middot;</span>
         <small>{{ site.tagline }}</small>
       </h3>
     </div>
    </div>

    <div class="wrap">
      <div class="container content">
        {{ content }}
      </div>
    </div>

    <script>
      $(document).ready(function() {

        $(document).click(function(e) {
          var $target = $(e.target);
          var $sidebarButton = $('.sidebar-container');
          if($target.closest('.sidebar-container').length) {
            $sidebarButton.toggleClass('open');
          } else {
            $sidebarButton.removeClass('open');
          }
        })
      });
    </script>
  </body>
</html>
