<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <div class="masthead">
     <div class="container" style="display:table">
       <div class="masthead-title" style="display:table-cell;vertical-align:middle;">
         <a href="{{ site.baseurl }}/" title="Home" class="blog-theme">WT</a>
       </div>
     </div>
     <div class="contact">
       <a href="{{ site.mygithub }}"><i class="fa fa-github-square fa-2x"></i></a>
       <a href="{{ site.mylinkedin }}"><i class="fa fa-linkedin-square fa-2x"></i></a>
       <a href="{{ site.url }}/feed.xml"><i class="fa fa-rss-square fa-2x"></i></a>
       <!--<a href="mailto:{{ site.author.email }}?"><i class="fa fa-envelope-square fa-2x"></i></a>-->
     </div>
    </div>

    <div class="wrap">
      <div class="container content">
        {{ content }}
      </div>
    </div>

    <div class="copyright">
        Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.
    </div>
  </body>
</html>
