<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <div class="masthead">
     <div class="container" style="display:table">
       <div class="masthead-title" style="display:table-cell;vertical-align:middle;">
         <a href="{{ site.baseurl }}/" title="Home" class="blog-theme">WT</a>
       </div>
     </div>
    </div>

    <div class="wrap">
      <div class="container content">
        {{ content }}
      </div>
    </div>

    <script>
      $(document).ready(function() {

        $(document).click(function(e) {
          var $target = $(e.target);
          var $sidebarButton = $('.sidebar-container');
          var $sidebar = $('.sidebar');
          if($target.closest('.sidebar-container').length) {
            // if sidebar button clicked => toggle
            $sidebarButton.toggleClass('open');
          } else if(!$target.closest('.sidebar').length) {
            // if anywhere other than sidebar or sidebar button => close sidebar
            $sidebarButton.removeClass('open');
          }
        });

        // 1st blog post - scroll up
        $('#go-to-solution').click(function(e) {
          e.preventDefault(); // prevent default behavior - "jump" to anchor
          $('html, body').animate({
            scrollTop: $('#solution').offset().top
          }, 750);
        });

      });
    </script>
  </body>
</html>
